<div class="prb-x12-transaction-set">
  @for (element of st; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getStLength() - 1)) {
      <span class="prb-segment-delimiter">~</span>
    } @else {
      <span class="prb-element-delimiter">{{ this.getElementDelimiter() }}</span>
    }
  }

  <div class="prb-info">
    <h5>ST Elements</h5>
    <prb-element-description
      [element]="'ST01'"
      [data]=this.getStElement(1)
      [description]="'transaction set identifier code'"
    />
    <prb-element-description
      [element]="'ST02'"
      [data]=this.getStElement(2)
      [description]="'transaction set control number'"
    />
    <prb-element-description
      [element]="'ST03'"
      [data]=this.getStElement(3)
      [description]="'implementation convention reference'"
    />
  </div>
</div>
