<div class="prb-x12-transaction-set">
  @for (element of this.parsedElements; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getLength() - 1)) {
      <span class="prb-x12-segment-delimiter">~</span>
    } @else {
      <span class="prb-12-element-delimiter">{{ this.getElementDelimiter() }}</span>
    }
  }

  <div class="prb-x12-info">
    <h5>ST Elements</h5>
    <prb-element-description
      [element]="'ST01'"
      [data]=this.getElement(1)
      [description]="'transaction set identifier code'"
    />
    <prb-element-description
      [element]="'ST02'"
      [data]=this.getElement(2)
      [description]="'transaction set control number'"
    />
    <prb-element-description
      [element]="'ST03'"
      [data]=this.getElement(3)
      [description]="'implementation convention reference'"
    />
  </div>
</div>
