<div class="prb-x12-segment">
  @for (element of bgn; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getBgnLength() - 1)) {
      <span class="prb-segment-delimiter">~</span>
    } @else {
      <span class="prb-element-delimiter">{{ this.getBgnElementDelimiter() }}</span>
    }
  }
  <div class="prb-info">
    <h5>BGN Elements</h5>
    <prb-element-description
      [element]="'BGN'"
      [data]=this.getBgnElement(1)
      [description]="'transaction set purpose code'"
    />
    <prb-element-description
      [element]="'BGN02'"
      [data]=this.getElement(2)
      [description]="'control number for the transaction set'"
    />
    <prb-element-description
      [element]="'BGN03'"
      [data]=this.getElement(3)
      [description]="'transaction set creation date (YYYYMMDD)'"
    />
    <prb-element-description
      [element]="'BGN04'"
      [data]=this.getElement(4)
      [description]="'transaction set creation time (HHMM)'"
    />
    <prb-element-description
      [element]="'BGN05'"
      [data]=this.getElement(5)
      [description]="'time zone code'"
    />
    <prb-element-description
      [element]="'BGN06'"
      [data]=this.getElement(6)
      [description]="'reference identification'"
    />
    <prb-element-description
      [element]="'BGN07'"
      [data]=this.getElement(7)
      [description]="'transaction type code (optional)'"
    />
  </div>
</div>
