<div class="prb-x12-segment">
  @for (element of this.parsedElements; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getLength() - 1)) {
      <span class="prb-x12-segment-delimiter">~</span>
    } @else {
      <span class="prb-12-element-delimiter">{{ this.getElementDelimiter() }}</span>
    }
  }
  <div class="prb-info">
    <h5>NM1 Elements</h5>
    <prb-element-description
      [element]="'NM101'"
      [data]="getElement(1)"
      [description]="'relationship code'"
    />
    <prb-element-description
      [element]="'NM102'"
      [data]="getElement(2)"
      [description]="'entity identifier code'"
    />
    <prb-element-description
      [element]="'NM103'"
      [data]="getElement(3)"
      [description]="'last name'"
    />
    <prb-element-description
      [element]="'NM104'"
      [data]="getElement(4)"
      [description]="'first name'"
    />
    <prb-element-description
      [element]="'NM105'"
      [data]="getElement(5)"
      [description]="'middle initial or name'"
    />
    <prb-element-description
      [element]="'NM106'"
      [data]="getElement(6)"
      [description]="'identification code'"
    />
    <prb-element-description
      [element]="'NM107'"
      [data]="getElement(7)"
      [description]="'entity type'"
    />
    <prb-element-description
      [element]="'NM108'"
      [data]="getElement(8)"
      [description]="'identification code qualifier'"
    />
    <prb-element-description
      [element]="'NM109'"
      [data]="getElement(9)"
      [description]="'identification code'"
    />
  </div>
</div>
