<h1>Enhanced EDI Viewer</h1>
<div class="prb-x12-container">
  @for (segment of ediSegments; track $index) {
    @if (segment.getElements().length > 1) {
      <div
        [class.prb-x12-isa]="segment.getCssClass() === 'ISA'"
        [class.prb-x12-gs]="segment.getCssClass() === 'GS'"
        [class.prb-x12-st]="segment.getCssClass() === 'ST'"
        [class.prb-x12-ins]="segment.getCssClass() === 'INS'"
        [class.prb-x12-segment]="segment.getCssClass() === 'SEGMENT'">
        @for (element of segment.getElements(); track $index) {
          <span>{{ element.getElement()?.replaceAll(' ', '&nbsp;') }}</span>
          @if ($index == (segment.getElements().length - 1)) {
            <span class="prb-x12-segment-delimiter">~</span>
          } @else {
            <span class="prb-12-element-delimiter">{{ segment.getElementDelimiter() }}</span>
          }
        }
        <div class="prb-x12-info">
          <prb-edi-info-dialog [segment]="segment"></prb-edi-info-dialog>
        </div>
      </div>
    }
  }
</div>
