<div class="prb-x12-isa">
  @for (element of isa; track $index) {
    <span>{{ element.replaceAll(' ', '&nbsp;') }}</span>
    @if ($index == (getIsaLength() - 1)) {
      <span class="prb-segment-delimiter">~</span>
    } @else {
      <span class="prb-element-delimiter">{{ this.getIsaElementDelimiter() }}</span>
    }
  }

  <div class="prb-info">
    <h5>ISA Segments</h5>
    <prb-element-description
      [element]="'ISA01'"
      [data]=getIsaElement(1)
      [description]="'type of authorization'"
    />
    <prb-element-description
      [element]="'ISA02'"
      [data]=getIsaElement(2)
      [description]="'actual authorization info'"
    />
    <prb-element-description
      [element]="'ISA03'"
      [data]=getIsaElement(3)
      [description]="'type of security info'"
    />
    <prb-element-description
      [element]="'ISA04'"
      [data]=getIsaElement(4)
      [description]="'actual security info'"
    />
    <prb-element-description
      [element]="'ISA05'"
      [data]=getIsaElement(5)
      [description]="'code identifying the sender\'s ID type'"
    />
    <prb-element-description
      [element]="'ISA06'"
      [data]=getIsaElement(6)
      [description]="'sender\'s ID'"
    />
    <prb-element-description
      [element]="'ISA07'"
      [data]=getIsaElement(7)
      [description]="'code identifying the receiver\'s ID type'"
    />
    <prb-element-description
      [element]="'ISA08'"
      [data]=getIsaElement(8)
      [description]="'receiver\'s ID'"
    />
    <prb-element-description
      [element]="'ISA09'"
      [data]=getIsaElement(9)
      [description]="'date in YYMMDD format'"
    />
    <prb-element-description
      [element]="'ISA10'"
      [data]=getIsaElement(10)
      [description]="'time in HHMM format'"
    />
    <prb-element-description
      [element]="'ISA11'"
      [data]=getIsaElement(11)
      [description]="'control standards ID'"
    />
    <prb-element-description
      [element]="'ISA12'"
      [data]=getIsaElement(12)
      [description]="'interchange control version number'"
      />
    <prb-element-description
      [element]="'ISA13'"
      [data]=getIsaElement(13)
      [description]="'interchange control number'"
    />
    <prb-element-description
      [element]="'ISA14'"
      [data]=getIsaElement(14)
      [description]="'acknowledgement requested'"
    />
    <prb-element-description
      [element]="'ISA15'"
      [data]=getIsaElement(15)
      [description]="'usage indicator (P for Production; T for Test)'"
    />
    <prb-element-description
      [element]="'ISA16'"
      [data]=getIsaElement(16)
      [description]="'component element separator'"
    />
  </div>
</div>
