@for (element of isa; track $index) {
  <span>{{ element.replaceAll(' ', '&nbsp;') }}</span>
  @if ($index == (getIsaLength() - 1)) {
    <span class="prb-segment-delimiter">~</span>
  } @else {
    <span class="prb-element-delimiter">{{ this.getIsaElementDelimiter() }}</span>
  }
}

<!--<div class="prb-is-valid">Valid: {{ valid }}</div>-->

<!--<div class="prb-info">-->
<!--  <h3>Delimiters</h3>-->
<!--  <div class="indent">-->
<!--    <div>Segment {{ this.getSegmentDelimiter() }}</div>-->
<!--    <div>Element {{ this.getElementDelimiter() }}</div>-->
<!--    <div>Sub Element {{ this.getSubElementDelimiter() }}</div>-->
<!--  </div>-->
<!--  <h3>ISA Segments</h3>-->
<!--  <div>ISA01:-->
<!--    <span class="prb-element-data">{{ getIsaElement(1) }}</span>-->
<!--    <span class="prb-element-desc">type of authorization</span>-->
<!--  </div>-->
<!--  <div>ISA02:-->
<!--    <span class="prb-element-data">{{ getIsaElement(2) }}</span>-->
<!--    <span class="prb-element-desc">actual authorization info</span>-->
<!--  </div>-->
<!--  <div>ISA03:-->
<!--    <span class="prb-element-data">{{ getIsaElement(3) }}</span>-->
<!--    <span class="prb-element-desc">type of security info</span>-->
<!--  </div>-->
<!--  <div>ISA04:-->
<!--    <span class="prb-element-data">{{ getIsaElement(4) }}</span>-->
<!--    <span class="prb-element-desc">actual security info</span>-->
<!--  </div>-->
<!--  <div>ISA05:-->
<!--    <span class="prb-element-data">{{ getIsaElement(5) }}</span>-->
<!--    <span class="prb-element-desc">code identifying the sender's ID type</span>-->
<!--  </div>-->
<!--  <div>ISA06:-->
<!--    <span class="prb-element-data">{{ getIsaElement(6) }}</span>-->
<!--    <span class="prb-element-desc">sender's ID</span>-->
<!--  </div>-->
<!--  <div>ISA07:-->
<!--    <span class="prb-element-data">{{ getIsaElement(7) }}</span>-->
<!--    <span class="prb-element-desc">code identifying the receiver's ID type</span>-->
<!--  </div>-->
<!--  <div>ISA08:-->
<!--    <span class="prb-element-data">{{ getIsaElement(8) }}</span>-->
<!--    <span class="prb-element-desc">receiver's ID</span>-->
<!--  </div>-->
<!--  <div>ISA09:-->
<!--    <span class="prb-element-data">{{ getIsaElement(9) }}</span>-->
<!--    <span class="prb-element-desc">date in YYMMDD format</span>-->
<!--  </div>-->
<!--  <div>ISA010:-->
<!--    <span class="prb-element-data">{{ getIsaElement(10) }}</span>-->
<!--    <span class="prb-element-desc">time in HHMM format</span>-->
<!--  </div>-->
<!--  <div>ISA011:-->
<!--    <span class="prb-element-data">{{ getIsaElement(11) }}</span>-->
<!--    <span class="prb-element-desc">control standards ID</span>-->
<!--  </div>-->
<!--  <div>ISA012:-->
<!--    <span class="prb-element-data">{{ getIsaElement(12) }}</span>-->
<!--    <span class="prb-element-desc">interchange control version number</span>-->
<!--  </div>-->
<!--  <div>ISA013:-->
<!--    <span class="prb-element-data">{{ getIsaElement(13) }}</span>-->
<!--    <span class="prb-element-desc">interchange control number</span>-->
<!--  </div>-->
<!--  <div>ISA014:-->
<!--    <span class="prb-element-data">{{ getIsaElement(14) }}</span>-->
<!--    <span class="prb-element-desc">acknowledgement requested</span>-->
<!--  </div>-->
<!--  <div>ISA015:-->
<!--    <span class="prb-element-data">{{ getIsaElement(15) }}</span>-->
<!--    <span class="prb-element-desc">usage indicator (P for Production; T for Test)</span>-->
<!--  </div>-->
<!--  <div>ISA016:-->
<!--    <span class="prb-element-data">{{ getIsaElement(16) }}</span>-->
<!--    <span class="prb-element-desc">component element separator</span>-->
<!--  </div>-->
<!--</div>-->
