.prb-x12-container {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.3rem;
}

.prb-x12-group {
  margin-left: 1em;
}

.prb-x12-info {
  display: none;
}

.prb-x12-transaction-set {
  margin-left: 2em;
}

.prb-x12-segment {
  margin-left: 3em;
}

.prb-x12-ins {
  outline: 1px solid #0088ff;
}

.prb-x12-isa,
.prb-x12-group,
.prb-x12-transaction-set,
.prb-x12-segment {
  width: fit-content;

  &:hover .prb-x12-info {
    position: absolute;
    z-index: 1;
    display: block;
    font-family: "Comic Sans MS", serif;
    font-size: 0.8em;
    margin-left: 6em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #585858;
    width: fit-content;

    h5 {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 2em;
      padding-right: 2em;
      width: fit-content;
      color: black;
      background-color: #bcb6b1;
      border-radius: 6px;
    }
  }
}

.prb-x12-unknown-segment {
  border: 1px solid yellow;
  width: fit-content;
}

.prb-x12-indent {
  margin-left: 1em;
}

.prb-x12-segment-delimiter {
  font-weight: bold;
  color: #7ff84b;
}

.prb-12-element-delimiter {
  font-weight: bold;
  color: #e511fc;
}

.prb-x12-element-data {
  font-weight: bold;
  color: #7df54e;
  margin-right: 0.5em;
}

.prb-x12-element-desc {
  color: #b4b4b4;
}

.prb-x12-is-valid {
  font-family: "Comic Sans MS", serif;
  font-size: 0.8em;
}
