.prb-x12-container {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.3rem;
}

.prb-x12-group {
  margin-left: 1em;
}

.prb-x12-transactions {
  margin-left: 2em;
}

.prb-info {
  font-family: "Comic Sans MS", serif;
  font-size: 0.8em;
}

.indent {
  margin-left: 1em;
}

.prb-segment-delimiter {
  font-weight: bold;
  color: #7ff84b;
}

.prb-element-delimiter {
  font-weight: bold;
  color: #e511fc;
}

.prb-element-data {
  font-weight: bold;
  color: #7df54e;
  margin-right: 0.5em;
}

.prb-element-desc {
  color: #b4b4b4;
}

.prb-is-valid {
  font-family: "Comic Sans MS", serif;
  font-size: 0.8em;
}
