<div class="prb-x12-isa">
  @for (element of this.parsedElements; track $index) {
    <span>{{ element }}</span>
    @if ($index == getLength() - 1) {
      <span class="prb-x12-segment-delimiter">~</span>
    } @else {
      <span class="prb-12-element-delimiter">{{ this.getElementDelimiter() }}</span>
    }
  }
  <div class="prb-info">
    <h5>IEA Elements</h5>
    <prb-element-description
      [element]="'IEA01'"
      [data]=getElement(1)
      [description]="'number of groups'"
    />
    <prb-element-description
      [element]="'IEA02'"
      [data]=getElement(2)
      [description]="'interchange control number (must match ISA13)'"
    />
  </div>
</div>
