:root {
  --prb-x12-color: #222;
  --prb-x12-bg-color: #f5f5f5;
  --prb-x12-segment-delimiter-color: #3e7d26;
  --prb-x12-element-delimiter-color: #7a0a86;
  --prb-x12-data-color: #366b22;
  --prb-x12-data-background-color: #cacaca;
  --prb-x12-ins-outline-color: #0088ff;
  --prb-x12-unknown-segment-color: #FFFF00FF;
  --prb-x12-dialog-color: #ffffff;
  --prb-x12-dialog-background-color: #585858;
  --prb-x12-dialog-h5-color: #000000;
  --prb-x12-dialog-h5-background-color: #bcb6b1;
  --prb-x12-dialog-description-color: #b4b4b4;

  &[class*="prb-dark-theme"] {
    --prb-x12-color: #fff;
    --prb-x12-bg-color: #353535;
    --prb-x12-segment-delimiter-color: #7ff84b;
    --prb-x12-element-delimiter-color: #e511fc;
    --prb-x12-data-color: #7df54e;
    --prb-x12-data-background-color: #202020;
  }
}

.prb-x12-container {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.3rem;
  font-size: 0.8rem;
  color: var(--prb-x12-color);
  background-color: var(--prb-x12-bg-color);
  padding: 1em;
  width: fit-content;
}

.prb-x12-gs {
  margin-left: 1em;
}

.prb-x12-info {
  display: none;
}

.prb-x12-st {
  margin-left: 2em;
}

.prb-x12-segment {
  margin-left: 3em;
}

.prb-x12-ins {
  outline: 1px solid var(--prb-x12-ins-outline-color);
  width: fit-content;
  margin-left: 3em;
}

.prb-x12-isa,
.prb-x12-gs,
.prb-x12-st,
.prb-x12-ins,
.prb-x12-segment {
  width: fit-content;

  &:hover .prb-x12-info {
    position: absolute;
    z-index: 1;
    display: block;
    font-family: "Comic Sans MS", serif;
    font-size: 0.8em;
    margin-left: 6em;
    padding: 0.5em;
    border: 1px solid var(--prb-x12-dialog-color);
    border-radius: 6px;
    background-color: var(--prb-x12-dialog-background-color);
    width: fit-content;

    h5 {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 2em;
      padding-right: 2em;
      width: fit-content;
      color: var(--prb-x12-dialog-h5-color);
      background-color: var(--prb-x12-dialog-h5-background-color);
      border-radius: 6px;
    }
  }
}

.prb-x12-unknown-segment {
  border: 1px solid var(--prb-x12-unknown-segment-color);
  width: fit-content;
}

.prb-x12-indent {
  margin-left: 1em;
}

.prb-x12-segment-delimiter {
  font-weight: bold;
  color: var(--prb-x12-segment-delimiter-color);
}

.prb-12-element-delimiter {
  font-weight: bold;
  color: var(--prb-x12-element-delimiter-color);
}

.prb-x12-element-data {
  font-weight: bold;
  color: var(--prb-x12-data-color);
  margin-right: 0.5em;
  background-color: var(--prb-x12-data-background-color);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.prb-x12-element-desc {
  color: var(--prb-x12-dialog-description-color);
}

.prb-x12-is-valid {
  font-family: "Comic Sans MS", serif;
  font-size: 0.8em;
}
