@for (element of gs; track $index) {
  <span>{{ element }}</span>
  @if ($index == (getGsLength() - 1)) {
    <span class="prb-segment-delimiter">~</span>
  } @else {
    <span class="prb-element-delimiter">{{ this.getElementDelimiter() }}</span>
  }
}

<!--<div class="prb-info">-->
<!--  <h3>GS Segments</h3>-->
<!--  <div>GS01:-->
<!--    <span class="prb-element-data">{{ getGsElement(1) }}</span>-->
<!--    <span class="prb-element-desc">functional identifier code</span>-->
<!--  </div>-->
<!--  <div>GS02:-->
<!--    <span class="prb-element-data">{{ getGsElement(2) }}</span>-->
<!--    <span class="prb-element-desc">application senders code</span>-->
<!--  </div>-->
<!--  <div>GS03:-->
<!--    <span class="prb-element-data">{{ getGsElement(3) }}</span>-->
<!--    <span class="prb-element-desc">application receivers code</span>-->
<!--  </div>-->
<!--  <div>GS04:-->
<!--    <span class="prb-element-data">{{ getGsElement(4) }}</span>-->
<!--    <span class="prb-element-desc">date the group was built (YYMMDD)</span>-->
<!--  </div>-->
<!--  <div>GS05:-->
<!--    <span class="prb-element-data">{{ getGsElement(5) }}</span>-->
<!--    <span class="prb-element-desc">time the group was built (HHMM)</span>-->
<!--  </div>-->
<!--  <div>GS06:-->
<!--    <span class="prb-element-data">{{ getGsElement(6) }}</span>-->
<!--    <span class="prb-element-desc">control number</span>-->
<!--  </div>-->
<!--  <div>GS07:-->
<!--    <span class="prb-element-data">{{ getGsElement(7) }}</span>-->
<!--    <span class="prb-element-desc">responsible agency code</span>-->
<!--  </div>-->
<!--  <div>GS08:-->
<!--    <span class="prb-element-data">{{ getGsElement(8) }}</span>-->
<!--    <span class="prb-element-desc">version release / inquiry</span>-->
<!--  </div>-->
<!--</div>-->
