<div class="prb-x12-group">
  @for (element of gs; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getGsLength() - 1)) {
      <span class="prb-x12-segment-delimiter">~</span>
    } @else {
      <span class="prb-12-element-delimiter">{{ this.getGsElementDelimiter() }}</span>
    }
  }

  <div class="prb-info">
    <h5>GS Elements</h5>
    <prb-element-description
      [element]="'GS01'"
      [data]=this.getGsElement(1)
      [description]="'functional identifier code'"
    />
    <prb-element-description
      [element]="'GS02'"
      [data]=this.getGsElement(2)
      [description]="'application senders code'"
    />
    <prb-element-description
      [element]="'GS03'"
      [data]=this.getGsElement(3)
      [description]="'application receivers code'"
    />
    <prb-element-description
      [element]="'GS04'"
      [data]='this.getGsElement(4) | d8Date'
      [description]="'date the group was built (YYYYMMDD)'"
    />
    <prb-element-description
      [element]="'GS05'"
      [data]=this.getGsElement(5)
      [description]="'time the group was built (HHMM)'"
    />
    <prb-element-description
      [element]="'GS06'"
      [data]=this.getGsElement(6)
      [description]="'control number'"
    />
    <prb-element-description
      [element]="'GS07'"
      [data]=this.getGsElement(7)
      [description]="'responsible agency code'"
    />
    <prb-element-description
      [element]="'GS08'"
      [data]=this.getGsElement(8)
      [description]="'version release / inquiry'"
    />
  </div>
</div>
