<div class="prb-x12-segment">
  @for (element of per; track $index) {
    <span>{{ element }}</span>
    @if ($index == (getPerLength() - 1)) {
      <span class="prb-segment-delimiter">~</span>
    } @else {
      <span class="prb-element-delimiter">{{ this.getElementDelimiter() }}</span>
    }
  }
  <div class="prb-info">
    <h5>PER Elements</h5>
    <prb-element-description
      [element]="'PER01'"
      [data]="getPerElement(1)"
      [description]="'contact function code'"
    />
    <prb-element-description
      [element]="'PER02'"
      [data]="getPerElement(2)"
      [description]="'name'"
    />
    <prb-element-description
      [element]="'PER03'"
      [data]="getPerElement(3)"
      [description]="getPerCommunicationQualifier(getPerElement(3))?.description || 'communication code qualifier'"
    />
    @if (getPerElement(3) == 'EM') {
      <prb-element-description
        [element]="'PER04'"
        [data]="getPerElement(4)"
        [description]="getPerCommunicationQualifier(getPerElement(3))?.description || 'communication number'"
      />
    } @else {
      <prb-element-description
        [element]="'PER04'"
        [data]="getPerElement(4) | phoneNumber"
        [description]="getPerCommunicationQualifier(getPerElement(3))?.description || 'communication number'"
      />
    }
    <prb-element-description
      [element]="'PER05'"
      [data]="getPerElement(5)"
      [description]="getPerCommunicationQualifier(getPerElement(5))?.description || 'communication code qualifier'"
    />
    @if (getPerElement(5) == 'EM') {
      <prb-element-description
        [element]="'PER06'"
        [data]="getPerElement(6)"
        [description]="getPerCommunicationQualifier(getPerElement(5))?.description || 'communication number'"
      />
    } @else {
      <prb-element-description
        [element]="'PER06'"
        [data]="getPerElement(6) | phoneNumber"
        [description]="getPerCommunicationQualifier(getPerElement(5))?.description || 'communication number'"
      />
    }
    <prb-element-description
      [element]="'PER07'"
      [data]="getPerElement(7)"
      [description]="getPerCommunicationQualifier(getPerElement(7))?.description || 'communication code qualifier'"
    />
    @if (getPerElement(7) == 'EM') {
      <prb-element-description
        [element]="'PER08'"
        [data]="getPerElement(8)"
        [description]="getPerCommunicationQualifier(getPerElement(7))?.description || 'communication number'"
      />
    } @else {
      <prb-element-description
        [element]="'PER08'"
        [data]="getPerElement(8) | phoneNumber"
        [description]="getPerCommunicationQualifier(getPerElement(7))?.description || 'communication number'"
      />
    }
  </div>
</div>
